{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <title>Ошибка</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="wrapper wrapper--decor">
        <div class="login">
            <p> </p>
        </div>
    </div>
    <script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>
